#faq_nav
  %ul
    %li= link_to_unless_current "LMNOP Enrollment", lmnop_enrollment_path
    %li= link_to_unless_current "Course Creation", faq_course_creation_path
    %li= link_to_unless_current "Discussion Forum", faq_discussion_forum_path
    %li= link_to_unless_current "Conversation", faq_conversation_path