#faq_nav
  %ul
    %li= link_to_unless_current "LMNOP Enrollment", lmnop_enrollment
    %li= link_to_unless_current "Course Creation", course_creation_path
    %li= link_to_unless_current "Discussion Forum", discussion_forum_path
    %li= link_to_unless_current "Conversation", conversation_path