-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('_help')

#section_header
  %h2
    = t('_help')
  //= render('help_nav')
.span-5
  = render('faq_nav')

.span-19.last#faq
  %h1 LMNOP FAQ
  %br
  .question.opened
    %h4 What is LMNOP ?
    .answer LMNOP is a platform that helps students and teachers interact with each other online after classes. You can use this platform to ask questions, seek clarifications, share concepts , basically do anything related to classroom learning by interacting with your peers and your teacher online . Our platform aims to take collaborative learning to an entirely different level  to ensure that you have a holistic learning experience and your learning is not restricted to just  the classroom. 
  .question.opened
    %h4 How can I enroll at LMNOP? 
    .answer Currently we are in the pilot phase. Hence enrollment on the platform is on an “invitation only” basis.  However that does not in any way mean that you and your classroom friends cannot use the platform. Send us an email at <a href="mailto:help@lmnop.in">help@lmnop.in</a>  and we would be more than happy to have you use our platform. 
  .question.opened
    %h4 What are the different roles one could assume in the LMNOP platform? 
    .answer We try to recreate the classroom atmosphere on our platform to the best extent possible. You can sign up as a teacher, a TA or a student.  While most features are common to all three roles there are a few differences viz- 
      %ul
        %li A student can ask questions anonymously or send a private message to a teacher. A teacher or a TA cannot perform these activities currently 
        %li A  teacher  has access to an advanced analytics dashboard  that helps him/her to understand the participation level of students . The dashboard also helps the teacher understand the extent to which a particular topic has been absorbed in class. 