%div{:style => 'width:700px;'}
  %div{:style => 'height:300px;width:350px;float:right;padding-left:10px;border-left:1px solid #ccc;'}
    #question_show
    = link_to "Add to Quiz", '#', :class => 'button creation', :id => 'add_to_quiz', :'data-qid' => ''
  %#questions_list
    - if @questions.size > 0
      - @questions.each do |question|
        .stream_element.q_selectable{:data => {:question_id => question.id}}
          .media{:style => 'cursor:pointer;'}
            .subject
              = question.description
    - else
      = "No Questions in question bank"       
  