.span-12.last
  %h3
    Load a quiz
  %br
  .section
    - for quiz in @quizzes
      %div{:style => "padding:3px;"}          
        %span.selectable{width:100px;}
          = link_to quiz.title, '#', :class => 'quiz-selectable'
          = button_tag 'View Quiz', :type => 'button', :id => 'view-quiz-' + quiz.id.to_s, :class => 'button creation hidden', :onClick => "showQuiz(" + quiz.id.to_s + ");"

  %div
    = link_to 'Create a Quiz', '/quizzes/new', :class => 'button creation'

:javascript
  $(".selectable").hover(
    function() {$(this).find('button').removeClass('hidden');},
    function() {$(this).find('button').addClass('hidden');}
  );

  function showQuiz(quizid){    
    $.ajax({
      url: '/quizzes/'+ quizid + '/show',
      dataType: 'json',
      type: 'GET',
      success: function(data) {
        //link.attr("href", href + "/" + data["id"]);        
      }
    });
  }          