.span-12.last
  %h3
    Load a quiz or 
    %span
      = link_to 'Create a Quiz', '/quizzes/new', :class => 'button creation'
  %br
  .section
    %ul{:style => 'float:left;width:50px;overflow:elipsis;'}
      - for quiz in @quizzes
        %li.hoverable                    
          = link_to quiz.title, '#', :class => 'quiz-selectable', :onClick => "showQuiz(" + quiz.id.to_s + ");"
            
    %div#display_quiz{:style => 'float:right;'}

:javascript
  //$(".selectable").hover(
  //  function() {$(this).find('button').removeClass('hidden');},
  //  function() {$(this).find('button').addClass('hidden');}
  //);
  
  function showQuiz(quizid){    
    $('#display_quiz').empty();
    $.ajax({
      url: '/quizzes/'+ quizid,
      dataType: 'html',
      type: 'GET',
      success: function(data) {

        $('#display_quiz').html(data);
      }
    });
    return false;
  }          