$('#conversation_show').html("<div id='chart_div'></div><div id='table_div'></div>");

var data = new google.visualization.DataTable();
data.addColumn('string', 'Points');
data.addColumn('number', 'Count');
data.addRows(<%= @data.to_json %>);
var options = {'title':'Class Performance',
               'width':400,
               'height':300};
var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
chart.draw(data, options);

var data2 = new google.visualization.DataTable();
data2.addColumn('string', 'Name');
data2.addColumn('number', 'Marks');
data2.addRows(<%= @data2.to_json %>);

var table = new google.visualization.Table(document.getElementById('table_div'));
table.draw(data2, {showRowNumber: true});