-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%ul#aspect_nav
  %li.all_aspects{:class => "active"}
    %a.home_selector.hoverable{:href => documents_path, :class => ("sub_selected" if params["a_id"])}
      = t('people.profile_sidebar.library')

    %ul.sub_nav#aspects_list
      - all_aspects.each do |aspect|
        %li.hoverable.selectable{:data => {:aspect_id => aspect.id}, :class => ("active" if params["a_id"].to_i == aspect.id)}
          
          %a{:href => documents_path(:a_id => aspect.id)}
            = aspect