%div.hoverable.docthumbnail
  %div.selected.docthumbselected
  %div{:style => "padding:5px;"}    
    = link_to image_tag('/assets/facebox/' + "xml" +'.png',:class => 'thumb_small'), document.unprocessed_doc.url
  %p  
    = link_to document.processed_doc, document.unprocessed_doc.url