-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


#thumbnails.span-15.last
  - for document in documents
    = link_to (anchor_tag document.url(document.url), "data-message-guid" => document.status_message_guid ), person_document_path(document.author, document)
