-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= link_to "Classroom", aspects_path, :class => 'hoverable', :rel => 'backbone', :data => {:stream => 'aspects'}, :id => 'mandatory_groups'
%ul#aspects_list
= link_to "Personal Groups", aspects_path, :class => 'hoverable', :rel => 'backbone', :data => {:stream => 'aspects'}
%ul#personal_aspects_list
  %li.hoverable
    = link_to  t('aspect_navigation.add_an_aspect'), 'aspects/new', :rel => 'facebox', :class => 'selectable new_aspect'
  