<li class="hoverable hidden">
  <a class="selectable toggle_selector" href="#">
    {{ t "aspect_navigation.select_all" }}
  </a>
</li>
<li class="hoverable hidden">
  <a href="/aspects/new" class="selectable new_aspect" rel="facebox">{{ t "aspect_navigation.add_an_aspect" }}</a>
</li>
