<li class="hoverable" style="display:none;">
  <a class="selectable toggle_selector" href="#">
    {{ t "aspect_navigation.select_all" }}
  </a>
</li>
<li class="hoverable" id="teacher-create-course">
  <a href="/aspects/new?type=Classroom" class="selectable new_aspect" rel="facebox">+ Create a Course</a>
</li>