
<a href="#" class="like" rel='nofollow'>
  {{#if userLike}}
    "Downvote"
  {{else}}
    "Upvote"
  {{/if}}
</a>
·

{{#if userCanReshare}}
  <a href="#" class="reshare" rel='nofollow'>
    {{t "stream.reshare"}}
  </a>
  ·
{{/if}}

<a href="#" class="focus_comment_textarea" rel="nofollow">
  Add Answer
</a>
