{{#each reports}}
    <li>
        <label><i class='icon-ok'/><span>{{name}}</span></label>
        -
        <label><span>{{score}}</span></label>
    </li>
{{/each}}

{{#if IsUserTeacher}}
  <li><a href="/reports/{{getActiveAspect}}">Deatiled Leaderboard...</a></li>
{{/if}}  