<a href="{{teacher.url}}">
  <img src="{{teacher.avatar}}" class="avatar small">  
</a>
<div>{{teacher.name}}</div>
<br/>
<a href="#" class="button" onclick="jQuery.facebox('/conversations/new?contact_id={{teacher.contact}}');return false;">Ask Doubt</a>