<a href="{{teacher.url}}">
  <img src="{{teacher.avatar}}" class="avatar small">  
</a>
<div>{{teacher.name}}</div>
<a href="/conversations/new?contact_id={{teacher.contact}}" class="button" onLoad="$(this).facebox();">Ask Doubt</a>