<a href="{{teacher.url}}">
  <img src="{{teacher.avatar}}" class="avatar small">  
</a>
<div>{{teacher.name}}</div>
<br/>
<a href="#" class="button" onclick="jQuery.facebox(function($) {$.get('/conversations/new?contact_id={{teacher.contact}}', function(data) { $.facebox(data) })});return false;">Ask Doubt</a>